<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">NODEJS TUTORIAL</h1>
            <p class="lead text-muted">دنیای برنامه نویسی JS</p>
            <p>
                <a href="#" class="btn btn-success my-2">دوره های آموزشی</a>
                <a href="#" class="btn btn-danger my-2">مقالات</a>
            </p>
        </div>
    </section>

    <div class="box_section-item mt-2">
        <div class="container">
            <h5>دوره ها</h5>
            <div class="row">
                <% courses.forEach(course=> { %>
                    <div class="col-md-4">
                        <div class="card mb-4">

                            <a href="<%= course.path() %>"><img class="card-img-top" src="<%= course.image['360'] %>"
                                    alt="<%= course.title %>"
                                    style="width: 100%; height: 200px; object-fit : cover"></a>

                            <div class="card-body">
                                <h5 class="card-text"><%- course.title %></h5>
                                <p class="card-text"><%- course.body.substr(0,100) %></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="<%= course.path() %>"
                                            class="btn btn-sm btn-outline-secondary">مشاهده</a>
                                    </div>
                                    <small class="text-muted"><%- course.viewCount %></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>

            </div>
        </div>
    </div>

        <!-- <div class="box_section-item mt-2">
            <div class="container">
                <h5>مقاله ها</h5>
                bbb
            </div>
        </div> -->
    </div>
</main>