<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <span>دوره ها</span>
                    </div>
                    <div class="col d-flex">
                        <a href="/admin/course/create" class="btn btn-sm btn-primary mr-auto">دوره جدید</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered first">
                        <thead>
                            <tr>
                                <th>نام دوره</th>
                                <th>نوع دوره</th>
                                <th>زمان دوره</th>
                                <th>قیمت</th>
                                <th>نمایش</th>
                                <th>تنظیمات</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <% courses.docs.forEach(course => { %>
                        <tr>
                            <td><%- course.title %></td>
                            <td>
                                <% if(course.type === 'vip') { %>
                                    اعضا ویژه
                                <% }else if(course.type === 'cash') { %>
                                    نقدی
                                <% } else { %> 
                                    رایگان
                                <% }%>
                            </td>
                            <td><%- course.price %></td>
                            <td><%- course.time %></td>
                            <td><%- course.viewCount %></td>
                            <td>
                                <div>
                                    <form action="/admin/course/<%- course._id %>?_method=DELETE" method="POST">
                                        <input type="hidden" name="_method" value="delete">
                                        <a href="/admin/course/<%= course._id %>/edit" class="btn btn-sm btn-primary">ویرایش</a>
                                        <button type="submit" class="btn btn-sm btn-danger">حذف</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <% }) %>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>نام دوره</th>
                                <th>نوع دوره</th>
                                <th>قیمت</th>
                                <th>نمایش</th>
                                <th>تنظیمات</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row justify-content-center m-2">
                <% if (courses.pages > 0) { %>
                <div class="d-flex">
                  <% if (courses.page == 1) { %>
                  <div class="page-item disabled"><a class="page-link">اولین</a></div>
                  <% } else { %>
                  <div class="page-item"><a class="page-link" href="/admin/course/?page=<%= 1 %>">اولین</a></div>
                  <% } %>
                  <% var i = ((courses.page) > 5 ? (courses.page) - 4 : 1) %>
                  <% if (i !== 1) { %>
                  <div class="page-item disabled"><a class="page-link">...</a></div>
                  <% } %>
                  <% for (; i <= ((courses.page) + 4) && i <= courses.pages; i++) { %>
                  <% if (i == courses.page) { %>
                  <div class="page-item active"><a class="page-link"><%= i %></a></div>
                  <% } else { %>
                  <div class="page-item"><a class="page-link" href="/admin/course/?page=<%= i %>"><%= i %></a></div>
                  <% } %>
                  <% if (i == (courses.page) + 4 && i < courses.pages) { %>
                  <div class="page-item disabled"><a class="page-link">...</a></div>
                  <% } %>
                  <% } %>
                  <% if (courses.page == courses.pages) { %>
                  <div class="page-item disabled"><a class="page-link">آخرین</a></div>
                  <% } else { %>
                  <div class="page-item"><a class="page-link" href="/admin/course/?page=<%= courses.pages %>">آخرین</a></div>
                  <% } %>
                </div>
                <% } %>
              </div>
        </div>
    </div>
</div>

