<div class="card">
    <div class="card-header d-flex">
        <div class="col">
            <h2>لیست همه دوره ها</h2>
        </div>
        <div class="col">
            <a class="btn btn-sm btn-danger ml-auto" href="/admin/course/create">دوره جدید</a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <% courses.forEach((course)=> { %>
                <div class="col-md-6 py-3">
                    <div class="card my-2 h-100">
                        <div class="card-header bg-light">
                            <h4>
                                <%= course.title %>
                            </h4>
                        </div>
                        <div class="card-body">
                            <p>
                                <span>نام دوره: </span>
                                <%= course.body %>
                            </p>
                            <p>
                                <span>نویسنده دوره: </span>
                                <%= course.author %>
                            </p>
                            <p>
                                <span>قیمت دوره: </span>
                                <%= course.price %>
                                    <span> تومان</span>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-sm btn-outline-primary" href="/admin/course/<%= course._id %>/show">نمایش
                                دوره</a>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>
</div>