<% if(auth.check) { %>
    <div class="card my-4">
        <h5 class="card-header">دیدگاه ها</h5>
        <div class="card-body">
            <% data.comments.forEach(comment=> { %>
                <div class="media mb-4">
                    <img class="d-flex ml-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">
                            <%- comment.user.name %>
                                <button type="button" class="float-left btn-sm btn btn-xs btn-success"
                                    data-toggle="modal" data-target="#sendCommentModal"
                                    data-parent="<%- comment.id %>">پاسخ</button>
                        </h5>
                        <p class="small">
                            <%= comment.createdAt %>
                        </p>
                        <%- comment.comment %>
                            <% comment.comments.forEach(comment=> { %>
                                <div class="media mt-4">
                                    <img class="d-flex ml-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                                    <div class="media-body">
                                        <h5 class="mt-0">
                                            <%- comment.user.name %>
                                        </h5>
                                        <%- comment.comment %>
                                    </div>
                                </div>
                                <% }) %>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>

    <!-- Comment -->
    <div class="modal fade" id="sendCommentModal" tabindex="-1" role="dialog" aria-labelledby="sendCommentModalLabel"
        aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="testLabel">ارسال پاسخ</h4>
                    <button type="button" class="close" style="margin-left: -1rem;" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <form action="/comment" method="post">
                        <input type="hidden" name="parent" value="">
                        <input type="hidden" name="<%- data.constructor.modelName.toLowerCase() %>"
                            value="<%- data.id %>">
                        <div class="form-group">
                            <label for="message-text" class="control-label">متن پاسخ:</label>
                            <textarea class="form-control" id="message-text" name="comment"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">ارسال</button>
                            <button type="button" class="btn btn-default mr-2 ml-0" data-dismiss="modal">انصراف</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="card mb-3 wow fadeIn">
        <div class="card-header font-weight-bold">ثبت دیدگاه</div>
        <div class="card-body">
            <!-- Default form reply -->
            <form action="/comment" method="POST">
                <!-- Comment -->
                <input type="hidden" name="<%- data.constructor.modelName.toLowerCase() %>" value="<%- data.id %>">
                <div class="form-group">
                    <label for="comment">دیدگاه</label>
                    <textarea class="form-control" id="comment" name="comment" rows="5"></textarea>
                </div>
                <div class="mt-4">
                    <button class="btn btn-info btn-md" type="submit">ارسال</button>
                </div>
            </form>
            <!-- Default form reply -->
        </div>
    </div>

    <% } %>
        <script>
            $(document).ready(function () {
                $('#sendCommentModal').on('show.bs.modal', function (event) {
                    console.log(1)
                    let button = $(event.relatedTarget);
                    console.log(button)
                    let parentID = button.data('parent');
                    let modal = $(this);
                    modal.find("[name='parent']").val(parentID);
                })
            });
        </script>